<?xml version="1.0"?>
<odoo>

    <menuitem id="joint_calendars_menu_root"
              parent="base.menu_administration"
              name="Joint Calendars"
              sequence="150"
    />

    <menuitem id="joint_calendars_menu"
              action="joint_calendar_action"
              parent="joint_calendars_menu_root"
              name="Calendars"
              sequence="10"
    />
    <menuitem id="menu_event_rules"
              action="event_rule_action"
              parent="joint_calendars_menu_root"
              name="Rules"
              sequence="20"
    />

</odoo>
